h1,
h2 {
    letter-spacing: 1px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0
}

body,
html {
    font-family: Lato, Arial, sans-serif;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility
}

.row {
    width: 90%;
    margin: auto
}

header {
    background-image: linear-gradient(#000c, #000c), url(img/hero-min.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center
}

section {
    margin: 80px 0
}

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    color: #fff;
    display: none;
    font-size: 130%;
}

header .hero-text {
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase
}

h1 {
    color: #fff;
    font-size: 240%;
    word-spacing: 2px
}

h1 span {
    background: #fff
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 180%
}

h2::after {
    display: block;
    content: " ";
    background: #2ecc71;
    width: 100px;
    height: 2px;
    margin: 20px auto
}

h3 {
    font-size: 110%;
    margin-bottom: 15px
}

.long-copy {
    line-height: 145%;
    width: 67%;
    margin-left: 17%
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color .2s, border .2s, color .2s;
    -moz-transition: background-color .2s, border .2s, color .2s;
    -ms-transition: background-color .2s, border .2s, color .2s;
    -o-transition: background-color .2s, border .2s, color .2s;
    transition: background-color .2s, border .2s, color .2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #2ecc88;
    color: #fff;
    margin-right: 15px;
    border: 0;
    cursor: pointer
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #2ecc88;
    color: #2ecc88;
    background: 0 0
}

.btn:active,
.btn:hover,
input[type=submit]:active,
input[type=submit]:hover {
    background-color: #00d659
}

.btn-ghost:active,
.btn-ghost:hover {
    border: 1px solid #2ecc88;
    color: #fff
}

a:link,
a:visited {
    color: #2ecc71;
    text-decoration: none;
    padding-bottom: 1px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

a:hover {
    color: #555;
    border: none
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: #2ecc71;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(13, 207, 110, .452);
}

.main-nav li a::before,
.sticky .main-nav li a::before {
    content: attr(data-text);
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    padding: 10px 5px;
    -webkit-transition:0.7s;
    -moz-transition:0.7s;
    -ms-transition:0.7s;
    -o-transition:0.7s;
    transition:0.7s;
}

#map {
    width: 100%;
    height: 500px;
}

.sticky .black-logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px
}

.sticky .main-nav {
    margin-top: 5px
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px
}

.sticky .logo {
    display: none
}

.sticky .black-logo {
    display: block
}

.black-logo {
    display: none
}

ul.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    position: relative;
    padding: 10px 5px
}

.main-nav li a {
    color: rgba(231, 227, 227, .89);
    text-decoration: none;
    font-size: 90%;
    font-weight: 500
}

.sticky .main-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 90%
}

.sticky .main-nav li a::before {
    position: absolute;
    display: block;
    width: 0%
}

.sticky .main-nav li a:active::before,
.sticky .main-nav li a:hover::before {
    background: #fff;
    width: 100%;
    color: #1e874b
}

.main-nav li a::before {
    position: absolute;
    display: block;
    width: 0%
}

.main-nav li a:active::before,
.main-nav li a:hover::before {
    background: #2ECC71;
    width: 100%;
    color: #fff
}

.box {
    padding: 1%
}

.box p {
    font-size: 80%;
    line-height: 145%
}

.box img {
    display: block;
    width: 50px;
    margin: 20px 0
}

.meals {
    list-style: none;
    width: 100%;
    overflow: hidden
}

.meals li {
    width: 25%;
    float: left;
    display: block
}

.pic-meals {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #000
}

.pic-meals img {
    opacity: .6;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform .5s, opacity .5s;
    -webkit-transition: transform .5s, opacity .5s;
    -moz-transition: transform .5s, opacity .5s;
    -ms-transition: transform .5s, opacity .5s;
    -o-transition: transform .5s, opacity .5s;
}

.pic-meals img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}

.works {
    background: #f4f4f4;
    padding: 20px 0
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px
}

.app-screen {
    width: 40%
}

.works-step {
    margin-bottom: 50px
}

.works-step:last-of-type {
    margin-bottom: 80px
}

.works-step div {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    font-size: 130%;
    line-height: 50px;
    text-align: center;
    float: left;
    margin-right: 25px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.works-step p {
    line-height: 145%
}

.btn-app img {
    height: 64px;
    width: 252px;
    margin: 36px auto
}

.special-icon,
cite img {
    vertical-align: middle;
    margin-right: 10px
}

.cities .box img {
    width: 100%
}

.special-icon {
    color: #1e874b;
    display: inline-block;
    font-size: 80%;
    line-height: 1.5;
    margin-top: -4px
}

.city-feat {
    margin-bottom: 5px
}

.testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, .76), rgba(0, 0, 0, .76)), url(img/back-customers-min.jpg);
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    height: auto;
    background-position: center;
  
}

blockquote {
    line-height: 145%;
    font-style: italic;
    position: relative;
    padding: 20px 0;
    margin-top: 20px
}

blockquote::before {
    content: "\201C";
    display: block;
    font-size: 450%;
    position: absolute;
    top: 0;
    left: -5px
}

cite {
    display: block;
    vertical-align: middle;
    font-size: 90%;
}

cite img {
    width: 40px;
    line-height: 40px;
    border: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px
}

.plan-box {
    background: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.plan-box div:last-child {
    border: 0;
    text-align: center
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #2ecc71
}

.plan-price span {
    font-size: 30%;
    font-weight: 300
}

.plan-price-meal,
footer {
    font-size: 80%
}

.plan-box ul {
    list-style: none
}

.plan-box ul li {
    padding: 5px 0
}

.contact-form {
    width: 100%;
    margin: 0 auto
}

input[type=email],
input[type=text],
select,
textarea {
    width: 70%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px
}

textarea {
    height: 100px
}

input[type=checkbox] {
    margin: 10px 5px 10px 0
}

footer {
    background-color: #333;
    padding: 60px
}

.footer-nav {
    list-style: none;
    float: left
}

.footer-links {
    list-style: none;
    float: right
}

.footer-links li,
.footer-nav li {
    display: inline-block;
    margin-right: 20px
}

.footer-links li:last-child,
.footer-nav li:last-child {
    margin-right: 0
}

.footer-links li a:link,
.footer-links li a:visited,
.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s
}

.footer-nav li a:active,
.footer-nav li a:hover {
    color: #ddd
}

.footer-links li a:link,
.footer-links li a:visited {
    font-size: 160%
}

.fa-facebook,
.fa-github,
.fa-instagram,
.fa-twitter {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s
}

.fa-facebook:hover {
    color: #3b5998
}

.fa-twitter:hover {
    color: #00aced
}

.fa-instagram:hover {
    color: #ce16b5
}

.fa-gintub:hover {
    color: #2f3033
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 30px
}

@media only screen and (max-width:1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%
    }

    .row {
        padding: 0 2%
    }
}

@media only screen and (max-width:1023px) {
    body {
        font-size: 18px;
        overflow-x: hidden
    }

    section {
        padding: 60px 0
    }

    .img1 {
        display: none
    }

    .long-copy {
        width: 80%;
        margin-left: 10%
    }

    .steps-box,
    .steps-box:last-child {
        margin-top: 10px
    }

    .works-steps {
        margin-bottom: 40px
    }

    .works-step:last-of-type {
        margin-bottom: 60px
    }

    .app-screen {
        width: 50%
    }

    .hero-text {
        margin: 0 2%
    }

    .special-icon {
        width: 17px;
        margin-right: 5px
    }

    .city-feature {
        font-size: 90%
    }

    .plan-box {
        width: 100%;
        margin-left: 0
    }

    .plan-price {
        font-size: 250%
    }

    .contact-form {
        width: 80%
    }
}

@media only screen and (max-width:767px) {
    body {
        font-size: 16px
    }

    section {
        padding: 30px 0;
    }

    .testimonials {
    padding: 10px 0;
    }

    .hero-text,
    .row {
        padding: 0 4%
    }
    
    .col {
        width: 100%;
        margin: 0 0 4%
    }

    .main-nav li {
        display: block
    }

    .mobile-nav-icon {
        display: inline-block
    }

    .main-nav {
        float: right !important;
        margin: 16px 54px !important;
        display: none
    }

    .sticky .main-nav,
    .sticky .mobile-nav-icon {
        margin-top: 10px
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0
    }

    .sticky .mobile-nav-icon i {
        color: #555
    }

    h1 {
        font-size: 180%
    }

    h2 {
        font-size: 150%
    }

    .long-copy {
        width: 100%;
        margin-left: 0
    }

    .app-screen {
        width: 40%
    }

    .steps-box:first-child {
        text-align: center
    }

    .works-step div {
        height: 40px;
        width: 40px;
        padding: 4px;
        font-size: 120%;
        line-height: 25px;
        margin: 8px 10px 10px 4px
    }

    .works-step {
        margin-bottom: 50px
    }

    .works-step:last-of-type {
        margin-bottom: 20px
    }

    .btn-app img {
        height: 50px;
        width: 50px;
        display: inline-block;
        margin: 12px
    }

    @media only screen and (max-width:480px) {
        section {
            padding: 25px 0
        }

        .contact-form {
            width: 100%
        }

        .meals li {
            width: 96%;
            display: block;
            margin: 0 2%
        }
       .testimonials{
           height: 100%;
       }
        .step-box .app-screen {
            text-align: center;
            margin: auto
        }

        .btn {
            margin: 20px -1px auto
        }

        .main-nav {
            margin: 19px 28px !important
        }
    }
}
